html .edit-mode,
html.edit-mode .view-mode {
	display: none;
}

html.edit-mode {
	&, body, #editor {
		box-sizing: border-box;
		height: 100%;
	}
	
	.edit-mode {
		display: block;
	}
	
	body {
		background: mix($colorGrey, $colorWhite, 90%);
	}
	
	.site-header {
		background: $colorGrey;
		border-bottom-color: rgba(0, 0, 0, .4);
		
		&, a {
			color: $colorWhite;
		}
	}
	
	.breadcrumb-dropdown .siblings {
		display: none !important;
	}
	
	#editor {
		appearance: normal;
		background: none;
		border: 0;
		color: $colorWhite;
		display: block;
		font-size: $fontSize;
		outline: none;
		overflow: auto;
		resize: none;
		width: 100%;
	}
}