[class*=col-] {
	box-sizing: border-box;
	float: left;
	padding: $gutterWidth ($gutterWidth / 2) 0;
}

.col-1-2 {
	width: 100% * 1/2;
}

.col-1-3 {
	width: 100% * 1/3;
}

.col-2-3 {
	width: 100% * 2/3;
}

.col-1-4 {
	width: 100% * 1/4;
}

.col-3-4 {
	width: 100% * 3/4;
}

.row {
	margin: 0 (-$gutterWidth / 2);
	overflow: hidden;
	zoom: 1;
}

.responsive-columns {
	-webkit-column-count: 4;
	-webkit-column-fill: balance;
	-webkit-column-gap: $gutterWidth;
	column-count: 4;
	column-fill: balance;
	column-gap: $gutterWidth;
	margin-bottom: ($lineHeight * $fontSize * 1) - $gutterWidth;
	
	> .col {
		-webkit-column-break-inside: avoid;
		column-break-inside: avoid;
		display: block;
		float: none;
		margin-bottom: $gutterWidth;
		padding: 0;
	}
}