.site-header {
	@include scaleUpFontSizeBy(2);
		
	background: mix($colorWhite, $colorGrey, 95%);
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	box-sizing: border-box;
	color: $colorGrey;
	left: 0;
	opacity: .85;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 20;
	
	&, * {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	
	a {
		color: $colorGrey;
		text-decoration: none;
		
		&:active, &:focus, &:hover {
			color: $colorBlack;
		}
	}
	
	.wrap {
		overflow: visible;
	}
}

.site-title {
	display: block;
	float: left;
	font-size: 1em;
	height: $headerHeight - 1;
	line-height: $headerHeight - 1;
	margin: 0;
}
.breadcrumb-dropdown {
	cursor: pointer;
	display: inline;
	padding-bottom: 10px;
	position: relative;
	
	.siblings {
		@include scaleDownFontSizeBy(2);
		
		background: $colorGrey;
		border-radius: 3px;
		display: none;
		left: 50%;
		line-height: $lineHeight * 1em;
		position: absolute;
		top: 100%;
		white-space: nowrap;
		width: auto;
		
		&:before {
			border: solid transparent;
			border-bottom-color: $colorGrey;
			border-width: 0 5px 5px;
			content: "";
			display: block;
			height: 0;
			left: 50%;
			margin-left: -5px;
			position: absolute;
			top: -5px;
			width: 0;
		}
		
		a {
			color: #fff;
			display: block;
			padding: 5px 15px 5px 15px;
			
			&:first-child {
				border-radius: 3px 3px 0 0;
			}
			
			&:last-child {
				border-radius: 0 0 3px 3px;
			}
			
			+ a {
				border-top: 1px solid mix($colorGrey, $colorWhite, 75%);
			}
			
			&:active, &:focus, &:hover {
				background: $colorBlack;
				
				&:first-child:before {
					border: solid transparent;
					border-bottom-color: $colorBlack;
					border-width: 0 5px 5px;
					content: "";
					display: block;
					height: 0;
					left: 50%;
					margin-left: -5px;
					position: absolute;
					top: -5px;
					width: 0;
					z-index: 10;
				}
			}
		}
	}
	
	&:hover .siblings {
		display: block;
	}
}

.site-nav {
	float: right;
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		float: left;
		line-height: $headerHeight - 1;
		
		+ li {
			margin-left: $gutterWidth / 2;
		}
	}
}