body {
	background: $colorWhite;
	padding-top: $headerHeight;
}

.wrap {
	margin: 0 auto;
	max-width: $pageWidth;
	padding-left: ($gutterWidth / 2);
	padding-right: ($gutterWidth / 2);
	overflow: hidden;
	zoom: 1;
}

.page-content {
	padding-bottom: 40px;
	padding-top: 40px;
	position: relative;
	z-index: 10;
}