body {
	background: $colorWhite;
}

.wrap {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: $pageWidth + $gutterWidth;
	padding-left: ($gutterWidth / 2);
	padding-right: ($gutterWidth / 2);
	overflow: hidden;
	zoom: 1;
}

.page-content {
	padding-bottom: 40px;
	padding-top: 40px + $headerHeight;
	position: relative;
	z-index: 10;
}