/*
 * Layout
 ------------------------------------------------------------ */
$headerHeight:			60px;
$pageWidth:				1000px;
$gutterWidth:			30px;


/*
 * Colors
 ------------------------------------------------------------ */
$colorBlue:				#7ba5c7;
$colorRed:				#f06a4b;
$colorYellow:			#ffeda7;

$colorGrey:				#77716f;
$colorGreyLight:		#ddd;
$colorGreyLighter:		#f8f8f8;

$colorBlack:			#000;
$colorWhite:			#fcf7f6;


/*
 * Typography
 ------------------------------------------------------------ */
$fontColor:				$colorBlack;
$fontFamily:			"ProximaNova Light", Helvetica, Arial, sans-serif;
$fontSize:				16px;
$lineHeight:			1.5;
$sizingRatio:			1.225;